aiogram==2.11.2
aiohttp==3.7.3
APScheduler==3.7.0
aredis==1.1.8
async-timeout==3.0.1
asyncio-redis==0.16.0
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==3.0.4
idna==3.1
multidict==5.1.0
numpy==1.20.0
opencv-python==4.5.1.48
pytz==2021.1
six==1.15.0
typing-extensions==3.7.4.3
tzlocal==2.1
yarl==1.6.3
